name: Build Docker Image, Push to GHCR, and Deploy to Kubernetes

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    env:
      DB_CONNECTION_STRING: ${{ secrets.DB_CONNECTION_STRING }}
      JWT_KEY: ${{ secrets.JWT_KEY }}
      EMAIL_USERNAME: ${{ secrets.EMAIL_USERNAME }}
      EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
      FRONTEND_BASE_URL: ${{ secrets.FRONTEND_BASE_URL }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend/backend
          push: true
          tags: ghcr.io/fleetflow-zarodolgozat/fleetflow-backend:latest
          file: ./backend/backend/Dockerfile

      - uses: azure/setup-kubectl@v4
        with:
          version: 'v1.32.0'

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Deploy with env substitution
        run: |
          envsubst '$DB_CONNECTION_STRING $JWT_KEY $EMAIL_USERNAME $EMAIL_PASSWORD $FRONTEND_BASE_URL' < backend/backend/deployment.yaml | kubectl apply -f -

      - name: Force rollout restart
        run: kubectl rollout restart deployment/fleetflow-api-deployment
