# This is your updated dotnet.yml

name: .NET CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore dependencies
      run: dotnet restore
      working-directory: ./backend/backend

    - name: Build
      run: dotnet build --no-restore
      working-directory: ./backend/backend

    - name: Test
      run: dotnet test --no-build --verbosity normal
      working-directory: ./backend/backend
